<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Item Details">
    <ng-template ngbPanelContent>
      <div id="collapseExample" [ngbCollapse]="false">
        <div class="card">
          <div class="card-body">
            <h1 style="color:chocolate">Items in your cart:
              <button class="btn btn-outline-success" routerLink='/mycart/checkout-page'>CheckOut</button>
            </h1>

            <table class="table table-bordered table-responsive table-hover">
              <thead class="thead-light">
                <tr>
                  <th>Image</th>
                  <th>Name & Discription</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Add/Remove</th>
                  <th width='180px'>Total For Item</th>
                </tr>
              </thead>
              <tr *ngFor="let prod of productAddedTocart;let q = index">
                <td><img src="{{prod.photo}}" width="350px;" height="270px;" /></td>
                <td class="text-center">{{prod.name}}</td>
                <td>{{prod.price}}</td>
                <td>{{prod.Quantity}}</td>
                <td>
                  <div class="form-inline">
                    <button type="button" (click)="onAddQuantity(prod)" class="btn btn-success">+</button>
                    <input type="text" value="{{prod.Quantity}}" (ngModel)="prod.Quantity"
                      (ngModelChange)="prod.Quantity=$event" class="form-control form-inline" id="count">
                    <button type="button" (click)="onRemoveQuantity(prod)" class="btn btn-danger">-</button>
                  </div>
                </td>
                <td>{{prod.price * prod.Quantity}}</td>
              </tr>
            </table>
            <div style="margin-left: 240px; margin-right:110px ; color: darkslategray ;"><h1> Total value is: {{allTotal}}</h1></div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  
